[submodule "catkin_ws/src/jetson_camera"]
	path = catkin_ws/src/jetson_camera
	url = https://github.com/taehun-kmu/jetson_camera.git
[submodule "catkin_ws/src/omo_r1mini"]
	path = catkin_ws/src/omo_r1mini
	url = https://github.com/taehun-kmu/omo_r1mini.git
[submodule "darknet_ws/src/darknet_ros"]
	path = darknet_ws/src/darknet_ros
	url = https://github.com/taehun-kmu/darknet_ros.git
[submodule "catkin_ws/src/yolov4-for-darknet_ros"]
	path = catkin_ws/src/yolov4-for-darknet_ros
	url = https://github.com/taehun-kmu/yolov4-for-darknet_ros.git
